In [36]:
#Essential libraries
import pandas as pd
from wordcloud import WordCloud
from nltk.tokenize import word_tokenize #nltk = natural language toolkit for separating words
from nltk.corpus import stopwords #for removing stopwords (words of no value like articles and prepositions)
from nltk.stem import WordNetLemmatizer #groups together inflected forms of a word
import matplotlib.pyplot as plt #to display wordcloud
from PIL import Image #Pillow library to load image
import numpy as np #to get image color
import time

In [37]:
#Store filepath in a variable
resource_data = "../Resources/Data/Marvel_US_ITTEM.csv"

In [38]:
df = pd.read_csv(resource_data)
df.head()

,ALIGNMENT,BIRTHPLACE,CITIZENSHIP,CODENAME,City,DETAILED FILE,DURABILITY,EDUCATION,ENERGY,EXPERIENCE,...,PROFILE PIC,REAL NAME,RELATIONSHIP STATUS,SPEED,STRENGTH,State,TARGET,WEIGHT,Zip Code,_id
0,Good,"Queens, New York City, New York",American,Spider-Man,Flushing,https://marvel.fandom.com/wiki/Peter_Parker_(E...,3,High school; coursing college,1,Adventurer; inventor; photographer; teaching a...,...,https://static.wikia.nocookie.net/marveldataba...,Peter Benjamin Parker,Single,3,4,NY,Spider-Man,167.0,11358,{'$oid': '60ba7853eb3d706d33244c7e'}
1,Good,"Manhattan, New York City, New York",American,Captain America,New York,https://marvel.fandom.com/wiki/Captain_America...,3,High school graduate; one year of art school; ...,1,Adventurer; federal official; intelligence ope...,...,https://static.wikia.nocookie.net/marveldataba...,"Steven ""Steve"" Rogers",Single,2,3,NY,Captain America,240.0,10155,{'$oid': '60ba7853eb3d706d33244c7f'}
2,Good,"Central City, California",American,Mister Fantastic,Clarksburg,https://marvel.fandom.com/wiki/Reed_Richards_(...,5,Reed attended such prestigious universities su...,1,Scientist; adventurer; ; cosmic being,...,https://static.wikia.nocookie.net/marveldataba...,Dr. Reed Richards,Married,2,2,CA,Reed Richards,180.0,95612,{'$oid': '60ba7853eb3d706d33244c81'}
3,Good,"Glenville, Long Island, New York",American,Human Torch,Schenectady,https://marvel.fandom.com/wiki/Jonathan_Storm_...,8,Glenville High graduate; former student at Emp...,5,Adventurer; firefighter; Chief Financial Offic...,...,https://static.wikia.nocookie.net/marveldataba...,"Jonathan Lowell Spencer ""Johnny"" Storm",Divorced,5,2,NY,Jonathan Storm,170.0,12302,{'$oid': '60ba7853eb3d706d33244c82'}
4,Good,"Glenville, Long Island, New York",American,Invisible Woman,Schenectady,https://marvel.fandom.com/wiki/Susan_Storm_(Ea...,6,Doctorate in unrevealed field; high school edu...,5,Adventurer; Regent of the Uhari throne at The ...,...,https://static.wikia.nocookie.net/marveldataba...,"Dr. Susan ""Sue"" Storm Richards",Married,3,2,NY,Susan Storm,120.0,12302,{'$oid': '60ba7853eb3d706d33244c83'}

In [39]:
df = df[['TARGET','ALIGNMENT','EXPERIENCE']]
df.head()

,TARGET,ALIGNMENT,EXPERIENCE
0,Spider-Man,Good,Adventurer; inventor; photographer; teaching a...
1,Captain America,Good,Adventurer; federal official; intelligence ope...
2,Reed Richards,Good,Scientist; adventurer; ; cosmic being
3,Jonathan Storm,Good,Adventurer; firefighter; Chief Financial Offic...
4,Susan Storm,Good,Adventurer; Regent of the Uhari throne at The ...

In [52]:
for strings in df['EXPERIENCE']:
    df['EXPERIENCE'].str.replace('"', '')
df.head()

,TARGET,ALIGNMENT,EXPERIENCE
0,Spider-Man,Good,Adventurer; inventor; photographer; teaching a...
1,Captain America,Good,Adventurer; federal official; intelligence ope...
2,Reed Richards,Good,Scientist; adventurer; ; cosmic being
3,Jonathan Storm,Good,Adventurer; firefighter; Chief Financial Offic...
4,Susan Storm,Good,Adventurer; Regent of the Uhari throne at The ...

In [40]:
alliance = ["Good","Neutral","Bad"]

In [46]:
df_dict = {}
for alignment in alliance:
    df_dict[alignment]=df["EXPERIENCE"]
    time.sleep(1)
df_dict["Good"]

0       Adventurer; inventor; photographer; teaching a...
1       Adventurer; federal official; intelligence ope...
2                  Scientist; adventurer; ;  cosmic being
3       Adventurer; firefighter; Chief Financial Offic...
4       Adventurer; Regent of the Uhari throne at The ...
                              ...
1027                         Nuclear Scientist ; Janitor
1028                                Houngan ; cult leader
1029                          Vigilante;  Army lieutenant
1030                                                Thief
1031                                        Fashion Model
Name: EXPERIENCE, Length: 1032, dtype: object

In [48]:
for alignment in alliance:
    df_dict[alignment]["EXPERIENCE"] = df_dict[alignment]["EXPERIENCE"].str.replace('"','')
df_dict["Good"]

KeyError: 'EXPERIENCE'

In [ ]:
#function to join and tokenize words in experience column of each dataframe
def clean_tokens(data):
    words = ";".join(data)
    tokens = word_tokenize(words)
    tokens = [t.lower() for t in tokens]
    #tokens = [t for t in tokens if t not in stopwords.words('english')]
    tokens = [t for t in tokens if t.isalpha()]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(t) for t in tokens]
    return tokens

In [ ]:
good_tokens = clean_tokens(good_df['EXPERIENCE'])
good_tokens

In [ ]:
good_xp = ';'.join(good_tokens)
good_mask = np.array(Image.open('../Resources/Images/good_mask.png'))

In [ ]:
good_word_cloud = WordCloud(
    background_color='white',
    max_words=1000,
    mask=good_mask,
    colormap='nipy_spectral_r',
    contour_width=1
).generate(good_xp)
plt.figure(figsize=(16,9))
plt.axis('off')
plt.imshow(good_word_cloud)

In [ ]:
spider_logo = np.array(Image.open('../Resources/Images/spider_logo.png'))
def Marvelwordcloud(data, title = None):
    wordcloud = WordCloud(
        background_color='white',
        stopwords=stopwords,
        mask=spider_logo,
        max_words=500,
        max_font_size=70,
        scale=3,
        random_state=1
    ).generate(str(data))
    image_colors = ImageColorGenerator(spider_logo)
    wordcloud.recolor(color_func=image_colors)
    fig = plt.figure(1, figsize=(20,20))
    plt.axis('off')
    if title:
        fig.suptitle(title, fontsize=20)
        fig.subplots_adjust(top=2.3)

    plt.imshow(wordcloud)
    plt.show()

In [ ]:
Marvelwordcloud(good_df["EXPERIENCE"].dropna())

In [ ]:
Marvelwordcloud(neutral_df["EXPERIENCE"].dropna())

In [ ]:
Marvelwordcloud(bad_df["EXPERIENCE"].dropna())